.father {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    animation-name: div-1;
    animation-direction: normal;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.front {
    background-color: red;
    position: absolute;
    width: inherit;
    height: inherit;
    animation-name: div-2;
    animation-direction: normal;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.back {
    background-color: blue;
    position: absolute;
    animation-name: div-3;
    width: inherit;
    height: inherit;
    animation-direction: normal;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
main {
    border: solid black;
    width: 100vw;
    height: 100vh;
}

@keyframes div-1 {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes div-2 {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px);
    }

}

@keyframes div-3 {
    from {
        transform: rotateZ(360deg) translateZ(-50px);
    }
    to {
        transform: rotateZ(0) translateZ(-50px);
    }
}

.front::before {
    position: absolute;
    width: inherit;
    height: inherit;
    content:"Front";
    background: inherit;

}

.div-2::before {
    transform: translateZ(-1px);
}

.back::before {
    position: absolute;
    width: inherit;
    height: inherit;
    content:"Back";
    background: inherit;

}

.div-3::before {
    transform: translateZ(1px);
}

